.iconFullscreen {
  filter: invert(1);
  position: fixed; /* Фиксированное позиционирование относительно окна браузера */
  top: 10px; /* Отступ сверху */
  right: 10px; /* Отступ справа */
  width: 32px; /* Ширина иконки */
  height: 32px; /* Высота иконки */
  cursor: pointer; /* Указатель мыши при наведении */
  z-index: 1000; /* Убедитесь, что элемент находится выше других */
}
