.custom-context-style {
  border-radius: 0px !important;
  background-color: var(--color-main-text) !important;

  .mx-context-menu-item-sperator:after {
    background-color: #f8fafb;
  }

  .mx-context-menu-item-sperator {
    background-color: var(--color-main-text);
  }

  span {
    font-size: 12px;
  }

  i {
    width: 1px;
  }

  .mx-context-menu-item {
    padding: 5px 0;
  }
}
