@use '../../styles/variables.scss';

.geolocation {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 60px;
    font-size: 14px;
    label{
        margin: 3px 0;
    }
    &__serch-button{
        padding: 5px;
        background-color: var(--button-color);
        border-radius: 5px;
    }
}