@use '../../../../styles/variables.scss' as *;

.form {
  width: 100%;
  max-width: 460px;
  border-radius: 12px;
  padding: 32px;

  box-shadow: 0 0 14px 2px $border-color;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;

  @media screen and (max-width: 860px) {
    width: 80%;
  }
}
