.game {
    color: #FFFEFD;

    &__top-navigation {
        display: flex;
        align-items: center;
        height: 5vh;
        justify-content: space-between;
        padding: 0 15px;
    }

    &__bottom-navigation {
        background: #32363c;
        width: 90%;
        position: absolute;
        bottom: 50px;
        height: 50px;
        margin: 0 5%;
    }


    &__main {
        border-radius: 40px 40px 0 0;
        box-shadow: - 0 -20px 50px -15px #f9d838;
        border-top: #f9d838;
        height: 95vh;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}