@use '../../styles/variables' as variables;

.leaderboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  font-family: variables.$font-body;
  color: variables.$font-color;
  &__title {
    font-size: 32px;
    margin-top: 8vh;
    margin-bottom: 4vh;
  }
  &__header {
    display: flex;
    width: 60vw;
    justify-content: space-around;
    border: 1px solid #F9D838;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 2vh;
  }
}