@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Основные стили
$font-body: 'Roboto', sans-serif;
$inner-padding: 20px;

// Стили ошибок
$error-font-size: 50px;


[data-theme='base-light'] {
    --background-color: #ECEFF1;
    --blok-background-color: #dde1e9;
    --border-color: #F9D838;
    --text-color: #2c2f35;
    --button-color: #464ab7;
  }
  
  [data-theme='base-dark'] {
    --background-color: #2c2f35;
    --blok-background-color: #32363c;
    --border-color: #F9D838;
    --text-color: #fffefd;;
    --button-color: #464ab7;
  }