@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Основные стили
$font-body: 'Roboto', sans-serif;
$inner-padding: 20px;

// Стили ошибок
$error-font-size: 50px;