@use '../../styles/variables.scss' as *;

.button {
  width: 100%;
  background-color: $button-color;
  padding: 16px;
  border-radius: 16px;
  border: none;
  font: inherit;
  cursor: pointer;

  color: $color;
}
